body > section {
    /* TODO: Not sure about this style */
    border-width: 0px;
    border-top-width: var(--line-width);

    /* >h2 {
        border-bottom: var(--line-width) solid var(--section-colour);
        align-self: stretch;
        text-align: center;
    } */
}

.rom-num {
    font-size: 0.9em;
}

.spotlight {
    color: var(--rosewater);
    font-style: italic;
    font-weight: bold;
}


.role-details {
    text-align: center;
    font-weight: bold;
    line-height: 1.2em;
}

.dates::before {
    content: url(res/icons/calendar-subtext.svg);
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    vertical-align: center;
    margin-right: 0.4ch;
}
